extends layout

block content
  h1= title

  form(id='SafariForm', action="/resource/safari", method="POST")
    div.form-group
        label.safariAttr(for='varient') Safari Varient
        input#name(type='text', name='varient')
    div.form-group
        label.safariAttr(for='user') Safari User
        input#name(type='text', name='user')
    div.form-group
        label.safariAttr(for='cost') Safari Cost
        input#cost(type='number', name='cost', min=500, max=9000)
    input.button(type="submit")

  script. 
    document.forms['SafariForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Safari cost Should be minimum of $500") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 